$box: border-box;
$w-full: 100%;
$flex: flex;
$flexColumn: column;
$flexRow: row;
$sans: sans-serif;
$serif: serif;
$blue: blue;
$mainColor: rgb(3, 3, 37);
$white: whitesmoke;
$black: black;
$w-full: 100%;
$h-full: 100vh;
$pink: rgb(217, 5, 150);
